.nav__logo {
  margin: 15px;
  font-size: 1.5rem;
}

.nav__logo a,
.nav__logo a:visited,
.nav__logo a:active {
  text-decoration: none;
  color: #000;
}

.nav__logo a:hover {
    text-decoration: underline;
}

.icon--mobile {
    position: absolute;
    z-index: 1000;
    font-size: 30px;
    top: 20px;
    right: 20px;
    cursor: pointer;
    animation: pulse 8s infinite ease;
}

.fa-times {
    color: white;
}

.navbar--mobile {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;
    transform: translate(0, -100%);
    transition: transform 0.2s ease;
    z-index: 1;
}

.show-nav--mobile {
    transform: translate(0);
}


/* STYLES */ 

.navbar--mobile ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.navbar--mobile ul li {
    width: 100%;
    text-align: center;
}

.navbar--mobile ul li a {
    color: white;
    display: inline-block;
    border-bottom: 2px solid black;
    padding: 30px 0;
    text-decoration: none;
    font-size: 1.4rem;
    width: 100%;
}

.navbar--mobile ul li a:hover, .navbar--mobile ul li a:focus {
    text-decoration: underline;
    /* border-bottom: 2px solid white; */
}

.nav__icon--mobile {
    margin: 0 20px;
    filter: invert(100%) sepia(35%) saturate(1135%) hue-rotate(230deg) brightness(110%) contrast(107%);
}