:root {
  --gun-powder: rgba(63, 61, 86, 1);
}

.hero__image {
    position: absolute;
    height: 550px;
    width: 550px;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.computer-svg {
  position: absolute;
  width: 90%;
  left: 30%;
  top: 20%;
}

.ellipse-svg {
    top: 0;
    bottom: 0;
    position: absolute;
}

.hero__text {
    position: absolute;
    top: 30%;
    margin-left: 15px;
}

.hero__text--heading {
  color: black;
  font-family: "Roboto", Helvetica;
  font-size: 7rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

.hero__text--subheading {
  color: var(--gun-powder);
  font-family: "Roboto", Helvetica;
  font-size: 4rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}

@media only screen and (max-width: 1240px) {
  .hero__text--heading {
    font-size: 5rem;
  }

  .hero__text--subheading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 990px) {
  .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero__text {
    /* background:rgba(63, 61, 86, .4); */
    margin-top: 50px;
    padding: 20px 40px;
    position: static;
  }

  .hero__text--heading {
    font-size: 4rem;
  }

  .hero__text--subheading {
    font-size: 2.5rem;
  }

  .hero__image {
    position: static;
    width: 100%;
    height: 50%;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
  }

  .computer-svg {
    width: 200px;
    margin: 0 auto;
    position: static;
  }

  .ellipse-svg {
    display: none;
  }

}