.contact__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.contact__header {
  font-size: 3.5rem;
  text-decoration: underline;
  margin-top: 20px;
}

.contact__phone {
  font-size: 1.5rem;
  margin: 15px 0; 
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: rgba(255,255,255, .3);
}

.input__wrapper {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

.input--label {
  font-size: 1.25rem;
}

.contact__form__input {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  background-color: rgba(255,255,255, .9);
  resize: none;
}

.contact__form__submit {
  font-size: 1.5rem;
  padding: 10px;
  display: block;
  margin: 0 auto 10px auto;
  cursor: pointer;
  background-color: rgba(108, 99,255, 100);
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 767px) {
  .contact__form {
    width: 95%;
  }
}

.circles__container {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  height: 70%;
  bottom: 0;
}

.circle1 {
  position: absolute;
  width: 600px;
  bottom: -200px;
  right: -200px;
}

.circle2 {
  position: absolute;
  width: 400px;
  bottom: -200px;
  right: 100px;
}

.circle3 {
  position: absolute;
  width: 600px;
  bottom: -200px;
  left: -100px;
}

.circle4 {
  position: absolute;
  width: 300px;
  bottom: -100px;
  left: 400px;
}

.circle5 {
  position: absolute;
  width: 100px;
  bottom: 150px;
  left: 400px;
}