.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.nav__logo {
  margin: 10px;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0 10px;
}

.nav__list__item {
  padding: 10px;
}

.nav__icons--right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__icon {
  padding: 10px;
}

.resume-icon, 
.linkedin-icon {
  max-height: 80px;
}

.resume-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-icon-text {

}